<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.sccc.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/List.action</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeleteOne</servlet-name>
    <servlet-class>com.sccc.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOne</servlet-name>
    <url-pattern>/DeleteOne.action</url-pattern>
  </servlet-mapping>
</web-app>